extends layout
block content
  h1= title
  - let icecreamid = toShow._id
  - let icecreamcone = toShow.cone
  - let icecreamflavour = toShow.flavour
  - let icecreamnumOfScoops = toShow.numOfScoops

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{icecreamid}
  - let actionid = "/resource/icecream/" + icecreamid
  form(id='IcecreamForm', action= actionid, method="PUT")
    div.form-group
      label.icecreamAttr(for='icecreamcone') Icecream Cone
      input#icecreamcone(type='text', name='icecreamcone', value= icecreamcone )
    div.form-group
      label.icecreamAttr(for='icecreamflavour') Icecream Flavour
      input#icecreamflavour(type='text', name='icecreamflavour', value= icecreamflavour )
    div.form-group
      label.icecreamAttr(for='icecreamnumOfScoops') Icecream Num of Scoops
      input#icecreamnumOfScoops(type='number', name='icecreamnumOfScoops', value= icecreamnumOfScoops )
    input(type="submit")
  script.
    document.forms['IcecreamForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });