extends layout
block content
  h1= title
  form(id='IcecreamForm', action="/resource/icecream", method="POST")
    div.form-group
      label.icecreamAttr(for='cone') Icecream Cone
      input#cone(type='text', name='cone')
    div.form-group
      label.icecreamAttr(for='flavour') Icecream Flavour
      input#flavour(type='text', name='flavour')
    div.form-group
      label.icecreamAttr(for='numOfScoops') Num of Scoops
      input#numOfScoops(type='number', name='numOfScoops')
    input(type="submit")
  script.
    document.forms['IcecreamForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Invalid numer of scoops: Number of scoops should be between 1 and 50\n\n\n" + "Update failed " + error );
      });
    });